* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > h1 {
    padding: 10px 15px;
    border-bottom: 1px solid grey;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 10px 15px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}